In [ ]:
# 自行編排版面、排版、加上學號姓名

### Numpy 
##### 可使用在矩陣運算、線性代數、矩陣乘法、轉置、數學運算、統計運算...等
[連結](https://docs.scipy.org/doc/numpy/reference/routines.html)

In [ ]:
# Array 之中的每一個元素都必須是相同型態

In [6]:
import numpy as np #使用numpy 採用np簡寫

array1 = np.array([1, 2, 3])  #一維的array
array2 = np.array([[1, 2, 3], [4, 5, 6]])  #二維的array

print(array2)
print('維度:',array2.ndim)    # 維度 ndim
print('行列:',array2.shape)   # 行列 shape
print('個數:',array2.size)    # 個數 size

[[1 2 3]
 [4 5 6]]
維度: 2
行列: (2, 3)
個數: 6

In [10]:
#一維陣列的運算
import numpy as np

a = np.array([3,6,9,12,15,18])
b = np.arange(6) # 0-5
c = np.zeros(6) # 數據全為0，6個
d = np.ones(6, dtype = np.int) # 數據為1，6個，整數
e = np.random.random(6) # 0-1浮點數，6個
f = b-a

print(a,b,c,d,e,f, sep="\n")
print(f < -9)
print(f == -9)

[ 3  6  9 12 15 18]
[0 1 2 3 4 5]
[ 0.  0.  0.  0.  0.  0.]
[1 1 1 1 1 1]
[ 0.55536256  0.53700397  0.18690707  0.40867526  0.64213237  0.76251668]
[ -3  -5  -7  -9 -11 -13]
[False False False False  True  True]
[False False False  True False False]

In [21]:
#多維陣列的運算
import numpy as np

a = np.array([[3,6,9],[12,15,18]])
b = np.arange(6).reshape(2,3) # 一維轉成2X3
c = np.zeros((2,3)) # 數據全為0
d = np.ones((2,3), dtype = np.int) # 數據為1，6個
e = np.random.random((2,3)) #亂數，6個

print(a,b,c,d,e, sep="\n")
print(np.sum(a))
print(np.sum(a, axis=0)) # 欄位(直)的加總
print(np.sum(a, axis=1)) # 欄位(橫)的加總

[[ 3  6  9]
 [12 15 18]]
[[0 1 2]
 [3 4 5]]
[[ 0.  0.  0.]
 [ 0.  0.  0.]]
[[1 1 1]
 [1 1 1]]
[[ 0.35191531  0.90479371  0.72936411]
 [ 0.69103511  0.6813806   0.27262102]]
63
[15 21 27]
[18 45]

In [22]:
#加減乘除法 (*非矩陣乘法*)
import numpy as np
A=np.array([[2,4,6],[8,10,12]])
B=np.arange(6).reshape((2,3)) 

print(A)
print(B)

[[ 2  4  6]
 [ 8 10 12]]
[[0 1 2]
 [3 4 5]]

In [23]:
# AB的加減乘除法
A*B

array([[ 0,  4, 12],
       [24, 40, 60]])

In [25]:
# 矩陣乘法
import numpy as np
a=np.array([[2,4,6],[8,10,12]])
b=np.arange(6).reshape((2,3)) 

print(a)
print(b)
print(b.T) # transpose

[[ 2  4  6]
 [ 8 10 12]]
[[0 1 2]
 [3 4 5]]
[[0 3]
 [1 4]
 [2 5]]

In [26]:
# 矩陣乘法 dot
print(np.dot(a,b.T))

[[ 16  52]
 [ 34 124]]

In [27]:
# array 合併
import numpy as np
A = np.array([1,1,1])
B = np.array([2,2,2])
         
print(np.vstack((A,B))) #vertical
print(np.hstack((A,B))) #horizontal

[[1 1 1]
 [2 2 2]]
[1 1 1 2 2 2]

In [28]:
# array 分割
import numpy as np
a = np.arange(12).reshape((3,4))
print(a)
print(np.vsplit(a,3)) #vertical
print(np.hsplit(a,2)) #horizontal

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[array([[0, 1, 2, 3]]), array([[4, 5, 6, 7]]), array([[ 8,  9, 10, 11]])]
[array([[0, 1],
       [4, 5],
       [8, 9]]), array([[ 2,  3],
       [ 6,  7],
       [10, 11]])]

### Pandas
##### Pandas建構於Numpy上，Python做資料分析常⽤的套件
- Numpy 是array形式的，沒有欄位名稱或標籤
- Pandas 基於Numpy構建的，有列表的標籤。

##### Series

In [31]:
# Series是有index的一維array
import pandas as pd
import numpy as np
# 建立一個 Series 有整數、字串、NAN、浮點數、布林
s = pd.Series([1, "abc", np.nan, 3.14, True])

print(s)
#如果是numpy的array呢?

0       1
1     abc
2     NaN
3    3.14
4    True
dtype: object

##### DataFrame

In [32]:
# 生成方式一：用array的矩陣(1)
df = pd.DataFrame(np.random.randn(7,3))
print(df)

          0         1         2
0 -1.182399 -0.237490  2.190763
1  0.484016 -1.097223 -0.292731
2 -1.980147  0.147527  0.811233
3 -1.453207 -3.317705 -0.537000
4 -0.050515 -0.465911  1.345593
5 -1.165674  1.323694 -0.389824
6 -0.492872 -1.582370 -0.555318

In [34]:
df

          0         1         2
0 -1.182399 -0.237490  2.190763
1  0.484016 -1.097223 -0.292731
2 -1.980147  0.147527  0.811233
3 -1.453207 -3.317705 -0.537000
4 -0.050515 -0.465911  1.345593
5 -1.165674  1.323694 -0.389824
6 -0.492872 -1.582370 -0.555318

In [45]:
# 生成方式一：用array的矩陣(2)
eat = np.random.randint(10,size=(7,3))*5+50
dates = pd.date_range('20171028',periods=7)
df0 = pd.DataFrame(eat)
#加上欄位
df1 = pd.DataFrame(eat, index=dates, columns=['早餐','午餐','晚餐'])
print(df1)

            早餐  午餐  晚餐
2017-10-28  80  55  65
2017-10-29  80  50  60
2017-10-30  50  70  70
2017-10-31  50  75  85
2017-11-01  95  95  50
2017-11-02  60  65  70
2017-11-03  70  50  95

In [37]:
df1

            早餐  午餐  晚餐
2017-10-28  85  50  60
2017-10-29  50  80  95
2017-10-30  65  85  70
2017-10-31  70  85  65
2017-11-01  70  80  85
2017-11-02  75  50  85
2017-11-03  60  50  85

In [46]:
eat = np.random.randint(10,size=(7,3))*5+50
print(eat)

[[60 70 65]
 [50 50 65]
 [50 55 50]
 [80 70 70]
 [85 55 65]
 [60 65 75]
 [50 75 80]]

In [47]:
#生成方式二，字典方式
df2 = pd.DataFrame({'小數' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    '整數' : np.array([3] * 4,dtype='int32'),
                    '時間' : pd.Timestamp('20170812'),
                    '類別資料' : pd.Categorical(["test","train","test","train"]),                     
                   }) 
#字典的key代表甚麼? colums name
#dtype指定資料格式? Y
print(df2)

    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
2  1.0   3 2017-08-12   test
3  1.0   3 2017-08-12  train

In [48]:
df2

    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
2  1.0   3 2017-08-12   test
3  1.0   3 2017-08-12  train

In [49]:
#DataFrame的屬性
print(df2)
print(df2.dtypes)
print(df2.index) #print(df2.columns), print(df2.values)
print(df2.describe()) #有甚麼要注意的呢?

print(df2.T)
print(df2.sort_index(axis=1, ascending=False))
print(df2.sort_values(by='類別資料'))

    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
2  1.0   3 2017-08-12   test
3  1.0   3 2017-08-12  train
小數             float32
整數               int32
時間      datetime64[ns]
類別資料          category
dtype: object
Int64Index([0, 1, 2, 3], dtype='int64')
        小數   整數
count  4.0  4.0
mean   1.0  3.0
std    0.0  0.0
min    1.0  3.0
25%    1.0  3.0
50%    1.0  3.0
75%    1.0  3.0
max    1.0  3.0
                        0                    1                    2  \
小數                      1                    1                    1
整數                      3                    3                    3
時間    2017-08-12 00:00:00  2017-08-12 00:00:00  2017-08-12 00:00:00
類別資料                 test                train                 test

                        3
小數                      1
整數                      3
時間    2017-08-12 00:00:00
類別資料                train
    類別資料         時間  整數   小數
0   test 2017-08-12   3  1.0
1  train 2017-08-12   3  1.0
2   test 2017-08-12   3  1.0
3  train 2017-08-12   3  1.0
    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
2  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
3  1.0   3 2017-08-12  train

In [50]:
df2

    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
2  1.0   3 2017-08-12   test
3  1.0   3 2017-08-12  train

In [51]:
print(df2.dtypes)

小數             float32
整數               int32
時間      datetime64[ns]
類別資料          category
dtype: object

In [52]:
print(df2.index) #print(df2.columns), print(df2.values)

Int64Index([0, 1, 2, 3], dtype='int64')

In [53]:
print(df2.describe()) #有甚麼要注意的呢?

        小數   整數
count  4.0  4.0
mean   1.0  3.0
std    0.0  0.0
min    1.0  3.0
25%    1.0  3.0
50%    1.0  3.0
75%    1.0  3.0
max    1.0  3.0

In [54]:
df2.T

,0,1,2,3
小數,1,1,1,1
整數,3,3,3,3
時間,2017-08-12 00:00:00,2017-08-12 00:00:00,2017-08-12 00:00:00,2017-08-12 00:00:00
類別資料,test,train,test,train

In [55]:
df2.sort_index(axis=0, ascending=False)

    小數  整數         時間   類別資料
3  1.0   3 2017-08-12  train
2  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
0  1.0   3 2017-08-12   test

In [56]:
df2.sort_values(by='類別資料')

    小數  整數         時間   類別資料
0  1.0   3 2017-08-12   test
2  1.0   3 2017-08-12   test
1  1.0   3 2017-08-12  train
3  1.0   3 2017-08-12  train

In [57]:
# Pandas 選擇欄、列數據
df1
#欄：只要午餐
#列：只要前三筆

            早餐  午餐  晚餐
2017-10-28  80  55  65
2017-10-29  80  50  60
2017-10-30  50  70  70
2017-10-31  50  75  85
2017-11-01  95  95  50
2017-11-02  60  65  70
2017-11-03  70  50  95

In [58]:
df1["午餐"]

2017-10-28    55
2017-10-29    50
2017-10-30    70
2017-10-31    75
2017-11-01    95
2017-11-02    65
2017-11-03    50
Freq: D, Name: 午餐, dtype: int32

In [ ]:
df1[0:5]

In [ ]:
# 欄列一起選
# select by label
print(df1.loc['20171028'])
print(df1.loc[:,['早餐','晚餐']])

In [ ]:
#select by position
print(df1.iloc[3,1])
print(df1.iloc[3:5,1:3])

In [ ]:
#select by ix
print(df1.ix[:3,['午餐','晚餐']])

In [ ]:
# 判斷、篩選
print(df1[df1.午餐>80])

In [ ]:
df1.iloc[2,2] = 195
df1.loc['20171102','晚餐'] = 60
df1.晚餐[df1.早餐>80] = 40
df1.loc['20171029','午餐'] = np.nan

print(df1)

In [ ]:
df1

In [ ]:
#完蛋了~~有遺漏值，要怎麼處理?!?!